body {
  padding-top: 30px;
}

table {
	font-family: Verdana;
	font-size: small;
}

#content {
	padding-top:20px;	
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.cart {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.error {
    color: #ff0000;
    font-style: normal;
    font-weight: bold;
}
